.container {
  width: 100%;
  padding-top: 30px;
}
.header {
  width: 300px;
  margin: 0 auto 20px auto;
  font-size: 18px;
  color: #8E59CD;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.create-blurb-button {
  width: 300px;
  /*background-color: #FFFFFF;*/
  margin: 0 auto;
  background-color: #EEFCE1;
  border: 3px solid #5BCC5D;
  color: #5BCC5D;
  border-radius: 100px;
  font-size: 18px;
  /*margin-top: 20px;*/
  /*padding: 20px 0;*/
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin: 20px auto;
}
.no-edition-found {
  text-align: center;
  padding-top: 20px;
  font-size: 18px;
  color: #959595;
}
.no-edition-found p {
  margin: 10px 0 0 0;
}
.create-edition-button {
  border: 3px solid #5BCC5D;
  border-radius: 100px;
  font-size: 18px;
  color: #5BCC5D;
  background-color: #EEFCE1;
  padding: 10px;
  margin: 40px 20px;
  width: 260px;
  cursor: pointer;
}
